<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ograph</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>GSDocIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>GraphSketcher Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.graphsketcher.graphdocument</string>
			</array>
			<key>NSDocumentClass</key>
			<string>GraphDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(PRODUCT_NAME) MARKETING_VERSION, version FULL_BUNDLE_VERSION, © COPYRIGHT_YEARS The Omni Group</string>
	<key>CFBundleHelpBookFolder</key>
	<string>$(PRODUCT_NAME) Help</string>
	<key>CFBundleHelpBookName</key>
	<string>$(PRODUCT_NAME) Help</string>
	<key>CFBundleIconFile</key>
	<string>GSAppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>MARKETING_VERSION</string>
	<key>CFBundleSignature</key>
	<string>RSGS</string>
	<key>CFBundleVersion</key>
	<string>FULL_BUNDLE_VERSION</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>LinkBackApplicationURL</key>
	<string>http://www.graphsketcher.com/</string>
	<key>LinkBackServer</key>
	<string>GraphSketcher</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSHumanReadableCopyright</key>
	<string>© COPYRIGHT_YEARS The Omni Group</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>OAApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OFControllerClass</key>
	<string>AppController</string>
	<key>OFRegistrations</key>
	<dict>
		<key>NSUserDefaults</key>
		<dict>
			<key>defaultsDictionary</key>
			<dict>
				<key>AutoScaleRangeOnImport</key>
				<false/>
				<key>AutosaveDelaySeconds</key>
				<real>120</real>
				<key>DataFieldSeparators</key>
				<array>
					<string>	</string>
					<string>|</string>
					<string>;</string>
				</array>
				<key>DataSeriesColorPalette</key>
				<array>
					<string>0 0 0</string>
					<string>0 0.257221 0.718959</string>
					<string>0.0388495 0.440299 0.216602</string>
					<string>0.746395 0 0</string>
					<string>0.6015625 0.3046875 0.54296875</string>
					<string>0.489296 0.21886 0</string>
					<string>0.94815 0.332464 0</string>
					<string>0.466667 0.466667 0.466667</string>
					<string>0.508537 0.790539 0.956329</string>
					<string>0.435111 0.827115 0.585794</string>
					<string>1 0.631846 0.730327</string>
					<string>0.835828 0.675547 0.917159</string>
					<string>0.930953 0.643015 0.482506</string>
				</array>
				<key>DefaultAxisColor</key>
				<string>0 0 0</string>
				<key>DefaultAxisPlacement</key>
				<string>origin</string>
				<key>DefaultAxisShape</key>
				<integer>0</integer>
				<key>DefaultAxisTickLabelFont</key>
				<dict/>
				<key>DefaultAxisTickWidthIn</key>
				<real>3</real>
				<key>DefaultAxisTickWidthOut</key>
				<real>1</real>
				<key>DefaultAxisWidth</key>
				<real>1</real>
				<key>DefaultBackgroundColor</key>
				<string>1 1 1</string>
				<key>DefaultConnectMethod</key>
				<string>curved</string>
				<key>DefaultDashStyle</key>
				<integer>0</integer>
				<key>DefaultDistanceToXAxisTickLabels</key>
				<real>3</real>
				<key>DefaultDistanceToXAxisTitle</key>
				<real>18</real>
				<key>DefaultDistanceToYAxisTickLabels</key>
				<real>5</real>
				<key>DefaultDistanceToYAxisTitle</key>
				<real>18</real>
				<key>DefaultErrorBarWidth</key>
				<real>1</real>
				<key>DefaultFillColor</key>
				<string>0.39 0.64 1.0 0.5</string>
				<key>DefaultGridColor</key>
				<string>0.9 0.9 0.9</string>
				<key>DefaultGridWidth</key>
				<real>1</real>
				<key>DefaultLabelFont</key>
				<dict/>
				<key>DefaultLineColor</key>
				<string>0 0 0</string>
				<key>DefaultLineWidth</key>
				<real>2</real>
				<key>DefaultTextColor</key>
				<string>0 0 0</string>
				<key>DefaultTransparentWindowOpacity</key>
				<real>0.38</real>
				<key>DefaultVertexShape</key>
				<integer>1</integer>
				<key>DefaultXAxisTickLabelFont</key>
				<dict/>
				<key>DefaultXAxisTitleFont</key>
				<dict/>
				<key>DefaultXAxisTitlePlacement</key>
				<real>0.5</real>
				<key>DefaultYAxisTickLabelFont</key>
				<dict/>
				<key>DefaultYAxisTitleFont</key>
				<dict/>
				<key>DefaultYAxisTitlePlacement</key>
				<real>0.5</real>
				<key>DisplayAxis</key>
				<true/>
				<key>DisplayAxisTickLabels</key>
				<true/>
				<key>DisplayAxisTicks</key>
				<true/>
				<key>DisplayAxisTitles</key>
				<true/>
				<key>DisplayHorizontalGrid</key>
				<false/>
				<key>DisplayVerticalGrid</key>
				<false/>
				<key>DrawCurvedLines</key>
				<true/>
				<key>EnableLineHinting</key>
				<true/>
				<key>GSFirstTimeUser</key>
				<true/>
				<key>ImportDataSeriesAsLines</key>
				<false/>
				<key>ImportDataSeriesAsRows</key>
				<false/>
				<key>ImportTextColumnAsPointLabels</key>
				<true/>
				<key>IncludeQuicklookPreview</key>
				<true/>
				<key>LastCanvasSize</key>
				<string>{520, 420}</string>
				<key>LastFrameString</key>
				<string>122 998 600 500 0 0 2560 1578</string>
				<key>MaximumDataSetSize</key>
				<integer>5001</integer>
				<key>OIColorInspectorShowsAlpha</key>
				<true/>
				<key>OIInspectorDefaultTopLeftPosition</key>
				<string>{900, 53}</string>
				<key>OITabbedInspectorUnifiedLook</key>
				<true/>
				<key>PopoutSensitivity</key>
				<real>60</real>
				<key>SaveFilesAsPlainXML</key>
				<false/>
				<key>ScientificNotationSetting</key>
				<string>auto</string>
				<key>SegmentStrokesWhileDrawing</key>
				<false/>
				<key>SelectionSensitivity</key>
				<real>6</real>
				<key>ShowExperimentalFeaturesMenu</key>
				<false/>
				<key>SnapToGrid</key>
				<true/>
				<key>SnapToGridSensitivity</key>
				<real>6</real>
				<key>SnapToObjectSensitivity</key>
				<real>6</real>
				<key>UseColorPaletteWhenImportingData</key>
				<true/>
				<key>UseContinuousSpellChecking</key>
				<true/>
				<key>UseStickyTools</key>
				<true/>
				<key>ValidateXMLOnSave</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GraphSketcher Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.graphsketcher.graphdocument</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ograph</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
